# 本代码用来给指定的根据指定的csv文件生成对应的特征列

## 1. 导入包

In [23]:
import numpy as np  
import pandas as pd
import math
import os
from scipy.fftpack import fft,ifft
import matplotlib.pyplot as plt
import matplotlib.axes as axes
from tqdm import tqdm

# 2. 定义特征获取函数

In [32]:
def getFeatures(acc_list,LEN):
    avg32_list = []
    std32_list = []
    max32_list = []
    min32_list = []
    media32_list = []
    rms32_list = []
    skew32_list = []
    kurt32_list = []
    for i in tqdm(range(acc_list.size)):
        start32 = i - LEN if i>= LEN else 0
        if i == 0:
            std32 = 0
            avg32 = acc_list[0]
            max32 = acc_list[0]
            min32 = acc_list[0]
            media32 = acc_list[0]
            rms32 = 0
            skew32 = 0
            kurt32 = 0
        else:
            avg32 = np.mean(acc_list[start32:i])
            std32 = np.std(acc_list[start32:i])
            max32 = np.max(acc_list[start32:i])
            min32 = np.min(acc_list[start32:i])
            media32 = np.median(acc_list[start32:i])
            rms32 = math.sqrt(pow(avg32,2) + pow(std32,2))
            skew32 = pd.DataFrame(acc_list[start32:i]).skew().values
            kurt32 = pd.DataFrame(acc_list[start32:i]).kurt().values
        avg32_list.append(avg32)
        std32_list.append(std32)
        max32_list.append(max32)
        min32_list.append(min32)
        media32_list.append(media32)
        rms32_list.append(rms32)
        skew32_list.append(skew32)
        kurt32_list.append(kurt32)
    return {"avg":avg32_list,"std":std32_list,"max":max32_list,"min":min32_list,"med":media32_list,"rms":rms32_list,"skw":skew32_list,"krt":kurt32_list}

## 2. 加载文件

In [27]:

csv_filename = "printer.csv"
csv_filename_featured = "printer_featured.csv"
df = pd.read_csv(csv_filename)
df.head(5)

           time       us    acc
0  15:52:08.395  1012464  35.98
1  15:52:08.433  1044468  33.42
2  15:52:08.433  1076472  38.21
3  15:52:08.471  1108476  37.03
4  15:52:08.508  1140476  38.31

In [28]:
acc_list = np.array(df["acc"])

## 3. 处理数据

In [33]:
features = getFeatures(acc_list,32)
df["avg32"] = features["avg"]
df["std32"] = features["std"]
df["max32"] = features["max"]
df["min32"] = features["min"]
df["med32"] = features["med"]
df["rms32"] = features["rms"]
df["skw32"] = features["skw"]
df["krt32"] = features["krt"]

features = getFeatures(acc_list,64)
df["avg64"] = features["avg"]
df["std64"] = features["std"]
df["max64"] = features["max"]
df["min64"] = features["min"]
df["med64"] = features["med"]
df["rms64"] = features["rms"]
df["skw64"] = features["skw"]
df["krt64"] = features["krt"]

features = getFeatures(acc_list,128)
df["avg7f"] = features["avg"]
df["std7f"] = features["std"]
df["max7f"] = features["max"]
df["min7f"] = features["min"]
df["med7f"] = features["med"]
df["rms7f"] = features["rms"]
df["skw7f"] = features["skw"]
df["krt7f"] = features["krt"]
df.head(5)

100%|████████████████████████████████████████████████████████████████████████████| 7228/7228 [00:06<00:00, 1118.72it/s]
100%|████████████████████████████████████████████████████████████████████████████| 7228/7228 [00:06<00:00, 1104.53it/s]
100%|████████████████████████████████████████████████████████████████████████████| 7228/7228 [00:06<00:00, 1109.13it/s]

,time,us,acc,avg32,std32,max32,min32,med32,rms32,skw32,...,skw64,krt64,avg7f,std7f,max7f,min7f,med7f,rms7f,skw7f,krt7f
0,15:52:08.395,1012464,35.98,35.98,0.000000,35.98,35.98,35.980,0.000000,0,...,0,0,35.98,0.000000,35.98,35.98,35.980,0.000000,0,0
1,15:52:08.433,1044468,33.42,35.98,0.000000,35.98,35.98,35.980,35.980000,[nan],...,[nan],[nan],35.98,0.000000,35.98,35.98,35.980,35.980000,[nan],[nan]
2,15:52:08.433,1076472,38.21,34.70,1.280000,35.98,33.42,34.700,34.723600,[nan],...,[nan],[nan],34.70,1.280000,35.98,33.42,34.700,34.723600,[nan],[nan]
3,15:52:08.471,1108476,37.03,35.87,1.957056,38.21,33.42,35.980,35.923348,[-0.20608232813901137],...,[-0.20608232813901137],[nan],35.87,1.957056,38.21,33.42,35.980,35.923348,[-0.20608232813901137],[nan]
4,15:52:08.508,1140476,38.31,36.16,1.767725,38.21,33.42,36.505,36.203183,[-0.886036630620384],...,[-0.886036630620384],[0.8243852929447524],36.16,1.767725,38.21,33.42,36.505,36.203183,[-0.886036630620384],[0.8243852929447524]

## 4. 保存文件

In [34]:
## index=0,去掉索引列
df.to_csv(csv_filename_featured,index=0,float_format='%.6f')